*.class
*.bak
*/classes/*
.settings
.gitignore
.myeclipse
.mymetadata
.classpath
.project
deploy
.idea
*.iml
weblogic.jar
/bin
artifacts
/target
/.settings
t2sdk-config.xml
/src/main/webapp/WEB-INF/lib/*
/src/main/webapp/WEB-INF/classes/*
*/test/*
*/resources/t2sdk-config.xml
*/filters/*