<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zeekie.stock.respository.DealMapper">

	<resultMap type="com.zeekie.stock.entity.BaseEntrustDO" id="resultEntrustInfo">
		<result column="TRADE_ACCOUNT" property="operatorNo" jdbcType="VARCHAR"/>
		<result column="ENTRUST_NO" property="entrustNo" jdbcType="VARCHAR"/>
		<result column="FUND_ACCOUNT" property="fundAccount" jdbcType="VARCHAR"/>
		<result column="COMBINE_ID" property="combineId" jdbcType="VARCHAR"/>
	</resultMap>
	
	<resultMap type="com.zeekie.stock.entity.CombassetDO" id="resultCombasset">
		<result column="ACTUAL_CASH" property="assetTotalValue" typeHandler="com.zeekie.stock.handler.TwoDecimalFloatTypeHander"/>
		<result column="CURRENT_CASH" property="assetValue" typeHandler="com.zeekie.stock.handler.TwoDecimalFloatTypeHander"/>
		<result column="CURRENT_CASH" property="currentCash" typeHandler="com.zeekie.stock.handler.TwoDecimalFloatTypeHander"/>
	</resultMap>
	
	<resultMap type="com.zeekie.stock.entity.CurrentEntrustDO" id="resultCurrentEntrust">
		<result column="FUND_ACCOUNT" property="fundAccount" jdbcType="VARCHAR"/>
		<result column="COMBINE_ID" property="combineId" jdbcType="VARCHAR"/>
		<result column="EXCHANGE_TYPE" property="exchangeType" jdbcType="VARCHAR"/>
		<result column="ENTRUST_DIRECTION" property="entrustDirection" jdbcType="VARCHAR"/>
		<result column="STOCK_CODE" property="stockCode" jdbcType="VARCHAR"/>
		<result column="AMENTRUST_STATUS" property="amentrustStatus" jdbcType="VARCHAR"/>
		<result column="ENTRUST_PRICE" property="entrustPrice" typeHandler="com.zeekie.stock.handler.TwoDecimalFloatTypeHander"/>
		<result column="ENTRUST_AMOUNT" property="entrustAmount" jdbcType="VARCHAR"/>
		<result column="ENTRUST_NO" property="entrustNo" jdbcType="VARCHAR"/>
		<result column="BUSINESS_BALANCE" property="businessBalance" typeHandler="com.zeekie.stock.handler.TwoDecimalFloatTypeHander"/>
		<result column="BUSINESS_AMOUNT" property="businessAmount" jdbcType="VARCHAR"/>
		<result column="ENTRUST_DATES" property="entrustDate" jdbcType="VARCHAR"/>
		<result column="ENTRUST_TIME" property="entrustTime" jdbcType="VARCHAR"/>
		<result column="CANCEL_INFO" property="cancelInfo" jdbcType="VARCHAR"/>
	</resultMap>

	<insert id="insertEntrust" parameterType="com.zeekie.stock.service.homes.entity.EntrustEntity">
		<selectKey order="BEFORE" resultType="LONG" keyProperty="id">
			select SEQ_stock_entrust_id.Nextval from dual
		</selectKey>
		INSERT INTO STOCK_ENTRUST
		  (ID,
		   NICKNAME,
		   TRADE_ACCOUNT,
		   COMBINE_ID,
		   FUND_ACCOUNT,
		   ENTRUST_NO,
		   BATCH_NO,
		   STOCK_CODE,
		   EXCHANGE_TYPE,
		   ENTRUST_DIRECTION,
		   ENTRUST_PRICE,
		   ENTRUST_AMOUNT)
		VALUES
		  (#{id},
		   #{nickname},
		   #{operateNo},
		   #{combineId},
		   #{fundAccount},
		   #{entrust_no},
		   #{batch_no},
		   #{stock_code},
		   #{exchange_type},
		   #{entrust_direction},
		   #{entrust_price},
		   #{entrust_amount}
		   )
	</insert>
	
	<select id="queryEntrustInfo" parameterType="string" resultMap="resultEntrustInfo">
		select t.TRADE_ACCOUNT,t.ENTRUST_NO,t.FUND_ACCOUNT,t.COMBINE_ID from STOCK_ENTRUST t where t.nickname = #{nickname}
		<if test="entrustNo!=null and entrustNo!=''">
			and t.ENTRUST_NO = #{entrustNo}
		</if>
		AND ROWNUM = 1
	</select>
	
	<select id="queryCombasset" parameterType="string" resultMap="resultCombasset">
		SELECT M.ACTUAL_CASH, M.CURRENT_CASH
		  FROM STOCK_USER_OPERATE_MAININFO M
		 WHERE M.NICKNAME = #{nickname} and m.is_current='1'
	</select>
	
	
	<!-- 查询当日委托 -->
	<select id="queryEntrustHistory" parameterType="string" resultMap="resultCurrentEntrust">
		SELECT E.*,TO_CHAR(ENTRUST_DATE, 'yyyy-mm-dd') ENTRUST_DATES
		  FROM STOCK_ENTRUST E
		 WHERE E.NICKNAME = #{nickname}
		   AND TO_CHAR(E.ENTRUST_DATE, 'yyyy-mm-dd') &gt;= #{startDate}
		   AND TO_CHAR(E.ENTRUST_DATE, 'yyyy-mm-dd') &lt;= #{endDate}
	</select>
	
	<insert id="updateEntrust" parameterType="com.zeekie.stock.service.homes.entity.EntrustQueryEntity">
<!-- 	    update STOCK_ENTRUST p set 
	   	 	   P.business_amount = #{business_amount},P.business_balance = #{business_balance},
	    	   P.cancel_info =#{cancel_info}, P.amentrust_status = #{amentrust_status}
	    where P.stock_code = #{stock_code} AND P.nickname = #{nickname}  
		AND P.entrust_no = #{entrust_no}   -->
		<selectKey order="BEFORE" resultType="LONG" keyProperty="id">
			select SEQ_stock_entrust_id.Nextval from dual
		</selectKey>
			MERGE INTO STOCK_ENTRUST P
			USING (SELECT   #{id} id,
							#{business_amount} business_amount,
							#{business_balance} business_balance,
							#{cancel_info} cancel_info,
							#{amentrust_status} amentrust_status,
							#{stock_code} stock_code,
							#{nickname} nickname,
							#{entrust_no} entrust_no,
							#{entrust_time} entrust_time,
							#{batch_no} batch_no,
							#{exchange_type} exchange_type,
							#{entrust_direction} entrust_direction,
							#{entrust_price} entrust_price,
							#{entrust_amount} entrust_amount,
							#{fundAccount} FUND_ACCOUNT,
							#{combineId} COMBINE_ID,
							#{operateNo} TRADE_ACCOUNT
			         FROM DUAL) T
			ON (P.STOCK_CODE = T.STOCK_CODE AND P.NICKNAME = T.NICKNAME AND P.ENTRUST_NO = T.ENTRUST_NO)
			WHEN MATCHED THEN
			  UPDATE
			     SET P.BUSINESS_AMOUNT  = T.BUSINESS_AMOUNT,
			         P.BUSINESS_BALANCE = T.BUSINESS_BALANCE,
			         P.CANCEL_INFO      = T.CANCEL_INFO,
			         P.AMENTRUST_STATUS = T.AMENTRUST_STATUS
			WHEN NOT MATCHED THEN
			  INSERT
			    (P.ID,
			     P.TRADE_ACCOUNT,
			     P.COMBINE_ID,
			     P.FUND_ACCOUNT,
			     P.ENTRUST_AMOUNT,
			     P.ENTRUST_PRICE,
			     P.ENTRUST_DIRECTION,
			     P.EXCHANGE_TYPE,
			     P.BATCH_NO,
			     P.ENTRUST_TIME,
			     P.ENTRUST_NO,
			     P.NICKNAME,
			     P.STOCK_CODE,
			     P.AMENTRUST_STATUS,
			     P.CANCEL_INFO,
			     P.BUSINESS_BALANCE,
			     P.BUSINESS_AMOUNT)
			  VALUES
			    (T.ID,
			     T.TRADE_ACCOUNT,
			     T.COMBINE_ID,
			     T.FUND_ACCOUNT,
			     T.ENTRUST_AMOUNT,
			     T.ENTRUST_PRICE,
			     T.ENTRUST_DIRECTION,
			     T.EXCHANGE_TYPE,
			     T.BATCH_NO,
			     T.ENTRUST_TIME,
			     T.ENTRUST_NO,
			     T.NICKNAME,
			     T.STOCK_CODE,
			     T.AMENTRUST_STATUS,
			     T.CANCEL_INFO,
			     T.BUSINESS_BALANCE,
			     T.BUSINESS_AMOUNT)

	</insert>
</mapper>

