<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zeekie.stock.respository.FinanceMapper">

	<resultMap type="com.zeekie.stock.entity.FinanceProductDO" id="resultFinanceProduct">
		<result column="PRODUCT_CODE" property="productCode" jdbcType="VARCHAR"/>
		<result column="FINANCE_PRODUCT" property="financeProduct" jdbcType="VARCHAR"/>
		<result column="FINANCE_TOTAL_LIMIT" property="financeTotalLimit" jdbcType="VARCHAR"/>
		<result column="ANNUAL_INCOME" property="annualIncome" jdbcType="VARCHAR"/>
		<result column="Carry_Date" property="carryDate" jdbcType="VARCHAR"/>
		<result column="Settle_Date" property="settleDate" jdbcType="VARCHAR"/>
		<result column="EXPIRE_DAY" property="expireDay" jdbcType="VARCHAR"/>
		<result column="MAX_LIMIT" property="maxLimit" jdbcType="VARCHAR"/>
		<result column="MIN_LIMIT" property="minLimit" jdbcType="VARCHAR"/>
	</resultMap>
	
	<resultMap type="com.zeekie.stock.entity.FinanceProductDO" id="resultAllCurrentFinance">
		<result column="PRODUCT_CODE" property="productCode" jdbcType="VARCHAR"/>
		<result column="FINANCE_PRODUCT" property="financeProduct" jdbcType="VARCHAR"/>
		<result column="FINANCE_TOTAL_LIMIT" property="financeTotalLimit" jdbcType="VARCHAR"/>
		<result column="ANNUAL_INCOME" property="annualIncome" jdbcType="VARCHAR"/>
		<result column="Carry_Date" property="carryDate" jdbcType="VARCHAR"/>
		<result column="Settle_Date" property="settleDate" jdbcType="VARCHAR"/>
		<result column="EXPIRE_DAY" property="expireDay" jdbcType="VARCHAR"/>
		<result column="MAX_LIMIT" property="maxLimit" jdbcType="VARCHAR"/>
		<result column="MIN_LIMIT" property="minLimit" jdbcType="VARCHAR"/>
		<result column="NUM" property="num" jdbcType="VARCHAR"/>
		<result column="leaveDays" property="leaveDays" jdbcType="VARCHAR"/>
	</resultMap>
	
	<resultMap type="com.zeekie.stock.entity.HistoryFinanceDO" id="resultHistoryFinance">
		<result column="TICKET" property="ticket" jdbcType="VARCHAR"/>
		<result column="FINANCE_LIMIT" property="financeLimit" jdbcType="VARCHAR"/>
		<result column="PRODUCT_CODE" property="productCode" jdbcType="VARCHAR"/>
		<result column="INCOME" property="income" jdbcType="VARCHAR"/>
		<result column="CURRENT_INCOME" property="currentIncome" typeHandler="com.zeekie.stock.handler.TwoDecimalFloatTypeHander"/>
		<result column="ANNUAL_INCOME" property="annualIncome"  jdbcType="VARCHAR"/>
		<result column="CARRY_DATE" property="carryDate" jdbcType="VARCHAR"/>
		<result column="SETTLE_DATE" property="settleDate" jdbcType="VARCHAR"/>
		<result column="financeProtcol" property="financeProtcol" jdbcType="VARCHAR"/>
		<result column="num" property="num" jdbcType="VARCHAR"/>
	</resultMap>
	
	<resultMap type="com.zeekie.stock.entity.FinanceIncomeDO" id="resultFinanceIncome">
		<result column="NICKNAME" property="nickname" jdbcType="VARCHAR"/>
		<result column="ticket" property="ticket" jdbcType="VARCHAR"/>
		<result column="FINANCE_LIMIT" property="financeLimit" typeHandler="com.zeekie.stock.handler.TwoDecimalFloatTypeHander"/>
		<result column="num" property="num" jdbcType="VARCHAR"/>
		<result column="income" property="income" typeHandler="com.zeekie.stock.handler.TwoDecimalFloatTypeHander"/>
	</resultMap>
	
	<resultMap type="com.zeekie.stock.entity.FinanceProductDetailDO" id="resultFinanceDetail">
		<result column="NICKNAME" property="nickname" jdbcType="VARCHAR"/>
		<result column="ticket" property="ticket" jdbcType="VARCHAR"/>
		<result column="PRODUCT_CODE" property="productCode" jdbcType="VARCHAR"/>
		<result column="FINANCE_PRODUCT" property="financeProduct" jdbcType="VARCHAR"/>
		<result column="INCOME" property="income" jdbcType="VARCHAR"/>
		<result column="CURRENT_INCOME" property="currentIncome" typeHandler="com.zeekie.stock.handler.TwoDecimalFloatTypeHander"/>
		<result column="CARRY_DATE" property="carryDate" jdbcType="VARCHAR"/>
		<result column="SETTLE_DATE" property="settleDate" jdbcType="VARCHAR"/>
		<result column="BUY_DATE" property="buyDate" jdbcType="VARCHAR"/>
	</resultMap>

	<resultMap type="com.zeekie.stock.entity.FlbDO" id="resultFlbUnit">
		<result column="TRUENAME" property="trueName" jdbcType="VARCHAR"/>
		<result column="ID_CARD" property="certification" jdbcType="VARCHAR"/>
		<result column="START_DATE" property="operateTime" jdbcType="VARCHAR"/>
		<result column="TRADE_FUND" property="fundLimit" typeHandler="com.zeekie.stock.handler.TwoDecimalFloatTypeHander"/>
	</resultMap>
	
    <select id="getFinanceProduct" resultMap="resultFinanceProduct">
	   SELECT  T.PRODUCT_CODE,
		       T.FINANCE_PRODUCT,
		       T.FINANCE_TOTAL_LIMIT,
		       T.ANNUAL_INCOME,
		       T.EXPIRE_DAY,
		       T.MAX_LIMIT,
		       T.MIN_LIMIT,
		       To_Char(t.Carry_Date, 'yyyy-mm-dd') Carrydate,
		       To_Char(t.Carry_Date + t.EXPIRE_DAY, 'yyyy-mm-dd') Settle_Date
		  FROM STOCK_FINANCE_PRODUCT T
		  WHERE <!-- TO_CHAR(T.CARRY_DATE + T.EXPIRE_DAY, 'yyyy-mm-dd') >=TO_CHAR(SYSDATE, 'yyyy-mm-dd')
		  and --> t.finance_total_limit > 0
    </select>
    
    <select id="getFinanceProductLast" resultMap="resultFinanceProduct">
		select PRODUCT_CODE,
		       FINANCE_PRODUCT,
		       FINANCE_TOTAL_LIMIT,
		       ANNUAL_INCOME,
		       EXPIRE_DAY,
		       MAX_LIMIT,
		       MIN_LIMIT,
		       Carrydate,
		       Settle_Date
		  from (SELECT T.PRODUCT_CODE,
		               T.FINANCE_PRODUCT,
		               T.FINANCE_TOTAL_LIMIT,
		               T.ANNUAL_INCOME,
		               T.EXPIRE_DAY,
		               T.MAX_LIMIT,
		               T.MIN_LIMIT,
		               To_Char(t.Carry_Date + 1, 'yyyy-mm-dd') Carrydate,
		               To_Char(t.Carry_Date + t.EXPIRE_DAY, 'yyyy-mm-dd') Settle_Date,
		               publish_date
		          FROM STOCK_FINANCE_PRODUCT T
		         order by t.publish_date desc)
		 where rownum = 1
    </select>
    
    <select id="queryAllCurrentFinanceCount" parameterType="string" resultType="long">
    	select count(1) from STOCK_FINANCE_PRODUCT
    	<if test="date!=null and date!=''">
		  where to_char(PUBLISH_DATE,'yyyy-mm-dd') = #{date}
		 </if>
    </select>
    
    <select id="getAllCurrentFinance" resultMap="resultAllCurrentFinance" parameterType="string">
    	<include refid="com.zeekie.stock.service.PageMappper.PagePrefix" />
		SELECT T.PRODUCT_CODE,
		       T.FINANCE_PRODUCT,
		       T.FINANCE_TOTAL_LIMIT,
		       T.ANNUAL_INCOME,
		       T.EXPIRE_DAY,
		       T.MAX_LIMIT,
		       T.MIN_LIMIT,
		       TO_CHAR(T.CARRY_DATE, 'yyyy-mm-dd') CARRYDATE,
		       TO_CHAR(T.CARRY_DATE + T.EXPIRE_DAY, 'yyyy-mm-dd') SETTLE_DATE,
		       (SELECT COUNT(1)
		          FROM STOCK_FINANCE_RECORD R
		         WHERE R.PRODUCT_CODE = T.PRODUCT_CODE
		         GROUP BY R.PRODUCT_CODE) NUM,
			   (T.CARRY_DATE + T.EXPIRE_DAY -To_Date(To_Char(Sysdate, 'yyyy-mm-dd'), 'yyyy-mm-dd')) leaveDays
		  FROM STOCK_FINANCE_PRODUCT T
		  <if test="date!=null and date!=''">
		  where to_char(PUBLISH_DATE,'yyyy-mm-dd') = #{date}
		  </if>
		 ORDER BY PUBLISH_DATE DESC
		 <include refid="com.zeekie.stock.service.PageMappper.PagePostfix" />
    </select>
    
    <insert id="saveCurrentFinance" parameterType="com.zeekie.stock.entity.form.FinanceProducetForm">
   		 <selectKey order="BEFORE" resultType="LONG" keyProperty="id">
			select Seq_STOCK_FINANCE_RECORD_ID.Nextval from dual
		</selectKey>
		     INSERT INTO STOCK_FINANCE_RECORD
					  (ID,
					   TICKET,
					   PRODUCT_CODE,
					   FINANCE_PRODUCT,
					   FINANCE_LIMIT,
					   ANNUAL_INCOME,
					   INCOME,
					   CURRENT_INCOME,
					   CARRY_DATE,
					   SETTLE_DATE,
					   user_id)
			   VALUES
					   (#{id},
					    #{ticket},
					    #{productCode},
					    #{financeProduct},
					    #{financeLimit},
					    #{annualIncome},
					    #{income},
					    to_number(#{financeLimit})*to_number(#{annualIncome})/#{currentYearDays},
					    to_date(#{carryDate},'yyyy-mm-dd'),
					    to_date(#{settleDate},'yyyy-mm-dd'),
					    #{userId})
	</insert>
	
	<select id="getHistoryFinance" resultMap="resultHistoryFinance" parameterType="string">
		SELECT TICKET,
		       FINANCE_LIMIT,
		       PRODUCT_CODE,
		       INCOME,
		       CURRENT_INCOME,
		       TO_CHAR(CARRY_DATE, 'yyyy-mm-dd') CARRY_DATE,
		       TO_CHAR(SETTLE_DATE, 'yyyy-mm-dd') SETTLE_DATE,
		       ANNUAL_INCOME,
		       #{financeProtcol} FINANCEPROTCOL,
		       (Settle_Date -To_Date(To_Char(Sysdate, 'yyyy-mm-dd'), 'yyyy-mm-dd')) num
		  FROM (SELECT ROW_NUMBER() OVER(ORDER BY T.ID DESC) AS NUM, T.*
		          FROM STOCK_FINANCE_RECORD T
		         WHERE USER_ID = #{userId}) S
		 WHERE NUM &gt;= #{offset} + 1 AND NUM &lt;= #{offset} + 20
    </select>
    
    <select id="checkBalance" parameterType="string" resultType="string">
    	select 1 from stock_user_wallet w 
    	where exists(select 1 from stock_user u where u.nickname = w.nickname
    	      and u.id = #{userId})
    	and w.balance>=to_number(#{financeLimit})
    </select>
    
    <select id="queryFinanceIncome" parameterType="string" resultMap="resultFinanceIncome">
    	SELECT CURRENT_INCOME income,
		       (SELECT NICKNAME FROM STOCK_USER U WHERE U.ID = R.USER_ID) NICKNAME,
		       (R.SETTLE_DATE - TO_DATE(TO_CHAR(SYSDATE, 'yyyy-mm-dd'), 'yyyy-mm-dd')) num,
		       FINANCE_LIMIT,
		       ticket
		  FROM STOCK_FINANCE_RECORD R
		 WHERE R.CARRY_DATE &lt; TO_DATE(TO_CHAR(SYSDATE, 'yyyy-mm-dd'), 'yyyy-mm-dd')
		   AND R.SETTLE_DATE >= TO_DATE(TO_CHAR(SYSDATE, 'yyyy-mm-dd'), 'yyyy-mm-dd')
		   
    </select>
    
    <update id="updateCurrentIncome" parameterType="string">
	    UPDATE STOCK_FINANCE_RECORD R
		   SET R.CURRENT_INCOME =
		       ((TRUNC(TO_DATE(TO_CHAR(SYSDATE, 'yyyy-mm-dd'), 'yyyy-mm-dd')) -
		       TRUNC(R.CARRY_DATE)) * R.FINANCE_LIMIT * R.ANNUAL_INCOME) / #{currentYearDays}
		 WHERE R.CARRY_DATE &lt;= TO_DATE(TO_CHAR(SYSDATE, 'yyyy-mm-dd'), 'yyyy-mm-dd')
		   AND R.SETTLE_DATE >= TO_DATE(TO_CHAR(SYSDATE, 'yyyy-mm-dd'), 'yyyy-mm-dd')
    </update>
    
    
    <!-- 计算收益 -->
	<update id="updateFinanceIncomeBatch" parameterType="com.zeekie.stock.entity.FinanceIncomeDO">
        UPDATE STOCK_USER_WALLET W set
       		   W.BALANCE = (W.BALANCE + #{income})
	 	WHERE  W.NICKNAME = #{nickname}
	</update>
	
    <!-- 归还本金 -->
	<update id="updateCapitalBatch" parameterType="com.zeekie.stock.entity.FundFlowDO">
        UPDATE STOCK_USER_WALLET W set
       		   W.BALANCE = (W.BALANCE + #{fund})
	 	WHERE  W.NICKNAME = #{nickname}
	</update>
	
	<update id="updateStatus" parameterType="string">
		update stock_user u set u.ISSTOCK = #{isStock}
		where u.id = #{userId}
	</update>
	
	<update id="updateTotalLimit" parameterType="string">
		update STOCK_FINANCE_PRODUCT set FINANCE_TOTAL_LIMIT = FINANCE_TOTAL_LIMIT - to_number(#{financeLimit})
		where PRODUCT_CODE = #{productCode}
	</update>
	
	<update id="updateWallet" parameterType="string" >
    	update stock_user_wallet w set w.balance = w.balance - to_number(#{fund})
    	where exists(select 1 from stock_user u where u.id = #{userId} and u.nickname = w.nickname)
    </update>
    
    <select id="queryTotalLimitBalance" parameterType="string" resultType="float">
     select FINANCE_TOTAL_LIMIT - to_number(#{financeLimit}) from STOCK_FINANCE_PRODUCT p where p.PRODUCT_CODE = #{productCode}
    </select>
    
    <insert id="insertProduct" parameterType="string">
    	<selectKey order="BEFORE" resultType="LONG" keyProperty="id">
			select Seq_STOCK_FINANCE_PRODUCT_ID.Nextval from dual
		</selectKey>
    	insert into STOCK_FINANCE_PRODUCT(id,PRODUCT_CODE,FINANCE_PRODUCT,FINANCE_TOTAL_LIMIT,
    	EXPIRE_DAY,ANNUAL_INCOME,MIN_LIMIT,MAX_LIMIT,CARRY_DATE)
    	values(#{id},#{productCode},#{financeProduct},#{financeTotalLimit},
    	#{expireDay},#{annualIncome},#{minLimit},#{maxLimit},to_date(#{carryDate},'yyyy-mm-dd'))
    </insert>
    
    <select id="queryFinanceDetail" parameterType="string" resultMap="resultFinanceDetail">
    	<include refid="com.zeekie.stock.service.PageMappper.PagePrefix" />
    	select (select u.nickname from stock_user u where u.id = r.user_id )nickname,
    		TICKET,PRODUCT_CODE,FINANCE_PRODUCT,INCOME,CURRENT_INCOME,TO_CHAR(CARRY_DATE, 'yyyy-mm-dd') CARRY_DATE,
                       TO_CHAR(SETTLE_DATE, 'yyyy-mm-dd') SETTLE_DATE,to_char(r.BUY_DATE, 'yyyy-mm-dd HH24:MI:ss')BUY_DATE
    	 from STOCK_FINANCE_RECORD r 
    	where product_code = #{productCode}
    	order by BUY_DATE ,user_id desc
    	<include refid="com.zeekie.stock.service.PageMappper.PagePostfix" />
    </select>
    
    <select id="queryFinanceDetailCount" parameterType="string" resultType="long">
        select count(1)
    	 from STOCK_FINANCE_RECORD r 
    	where product_code = #{productCode}
    </select>
    
    <select id="queryFlbUnitCount" resultType="long">
		SELECT COUNT(1)
		  FROM STOCK_USER_OPERATE_MAININFO T, STOCK_USER U
		 WHERE U.NICKNAME = T.NICKNAME
		   AND EXISTS (SELECT 1
		          FROM STOCK_USER_OPERATE_ACOUNT A
		         WHERE T.OPERATE_ACCOUNT_ID = A.ID
		           AND A.FUND_ACCOUNT = '63380003')
    </select>
    
    <select id="queryFlbUnit" resultMap="resultFlbUnit">
    	<include refid="com.zeekie.stock.service.PageMappper.PagePrefix" />
			SELECT (SELECT C.TRUENAME FROM STOCK_ID_CARD C WHERE C.USER_ID = U.ID)  TRUENAME,
			       (SELECT C.ID_CARD FROM STOCK_ID_CARD C WHERE C.USER_ID = U.ID) ID_CARD,
			       T.TRADE_FUND,
			       to_char(T.START_DATE, 'yyyy-mm-dd HH24:MI:ss') START_DATE
			  FROM STOCK_USER_OPERATE_MAININFO T, STOCK_USER U
			 WHERE U.NICKNAME = T.NICKNAME
			   AND EXISTS (SELECT 1
			          FROM STOCK_USER_OPERATE_ACOUNT A
			         WHERE T.OPERATE_ACCOUNT_ID = A.ID
			           AND A.FUND_ACCOUNT = '63380003')
			 ORDER BY T.START_DATE DESC
    	<include refid="com.zeekie.stock.service.PageMappper.PagePostfix" />
    </select>
    
    <select id="queryLeaveLimits" parameterType="string" resultType="float" >
    	select p.max_limit -
       (select sum(r.finance_limit)
          from stock_finance_record r
         where r.user_id = #{userId}
           and r.product_code = p.product_code) 
		  from stock_finance_product p
		 where p.product_code = #{productCode}
    
    </select>
    
</mapper>