<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeekie.stock.service.PageMappper">

	<sql id="PagePrefix">
	 <![CDATA[
		 select * from(select a.*, rownum R from ( 
	  ]]>
	</sql>

	<sql id="PagePostfix">
	
	 
	 <if test="sortField!=null and sortField!='' and sortOrder!=null and sortOrder!=''" >
	 	 order by ${sortField} ${sortOrder}
	 </if>
	   
	  <![CDATA[
	 	) a where rownum <= #{endPageIndex,jdbcType=DECIMAL} ) B where R > #{startPageIndex,jdbcType=DECIMAL}
	  ]]>
	</sql>


</mapper>