<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zeekie.stock.respository.TradeMapper">

	<resultMap type="com.zeekie.stock.entity.RuleDO" id="resultRule">
		<result column="USE_RULE" property="use_rule" jdbcType="VARCHAR"/>
		<result column="SECURET_RULE" property="securet_rule" jdbcType="VARCHAR"/>
	</resultMap>
	
	<resultMap type="com.zeekie.stock.entity.DeductDO" id="resultFee">
		<result column="NICKNAME" property="nickname" jdbcType="VARCHAR"/>
		<result column="ADD_MANAGEMENT_FEE" property="fee" typeHandler="com.zeekie.stock.handler.TwoDecimalFloatTypeHander"/>
		<result column="DRAW_FEE" property="drawFee" typeHandler="com.zeekie.stock.handler.TwoDecimalFloatTypeHander"/>
	</resultMap>


	<resultMap type="com.zeekie.stock.entity.AddGuaranteePageDO" id="enterAddGuaranteeResult">
		<result column="GUARANTEE_CASH" property="guaranteeCash" typeHandler="com.zeekie.stock.handler.TwoDecimalFloatTypeHander"/>
		<result column="CURRENT_GUARANTEE_CASH" property="currentGuaranteeCash" typeHandler="com.zeekie.stock.handler.TwoDecimalFloatTypeHander"/>
		<result column="ORGIN_OPERATE_LIMIT" property="orginOperateLimit" typeHandler="com.zeekie.stock.handler.TwoDecimalFloatTypeHander"/>
		<result column="CURRENT_OPERATE_LIMIT" property="currentOperateLimit" typeHandler="com.zeekie.stock.handler.TwoDecimalFloatTypeHander"/>
		<result column="PROFIT_LOSS_CASH" property="profitAndLossCash" typeHandler="com.zeekie.stock.handler.TwoDecimalFloatTypeHander"/>
		<result column="ASSIGN_RADIO" property="assignRadio" jdbcType="VARCHAR"/>
		<result column="WARN_CASH" property="warnCash" typeHandler="com.zeekie.stock.handler.TwoDecimalFloatTypeHander"/>
		<result column="STOP_CASH" property="stopCash" typeHandler="com.zeekie.stock.handler.TwoDecimalFloatTypeHander"/>
		<result column="Stop_Radio" property="stopRadio" typeHandler="com.zeekie.stock.handler.TwoDecimalFloatTypeHander"/>
		<result column="Warn_Radio" property="warnRadio" typeHandler="com.zeekie.stock.handler.TwoDecimalFloatTypeHander"/>
		<result column="FUND_ACCOUNT" property="fundAccount" jdbcType="VARCHAR"/>
		<result column="MANAGER_COMBINE_ID" property="managerCombineId" jdbcType="VARCHAR"/>
		<result column="assign_cash" property="assignCash" typeHandler="com.zeekie.stock.handler.TwoDecimalFloatTypeHander"/>
		<result column="fee_radio" property="feeRadio" jdbcType="FLOAT"/>
	</resultMap>


	<resultMap type="com.zeekie.stock.entity.AutoAddGuaranteeCashDO" id="resultAutoWantCash">
		<result column="NICKNAME" property="nickname" jdbcType="VARCHAR"/>
		<result column="NEEDWANTCASH" property="needWantCash" typeHandler="com.zeekie.stock.handler.TwoDecimalFloatTypeHander"/>
	</resultMap>

	<resultMap type="com.zeekie.stock.entity.HistoryOperationDO" id="resultHistoryOperation">
		<result column="CURRENT_ASSET" property="currentAsset" typeHandler="com.zeekie.stock.handler.TwoDecimalFloatTypeHander"/>
		<result column="ACTUAL_CASH" property="actualFund" typeHandler="com.zeekie.stock.handler.TwoDecimalFloatTypeHander"/>
		<result column="PROFIT_LOSS_CASH" property="profitAndLossCash" typeHandler="com.zeekie.stock.handler.TwoDecimalFloatTypeHander" />
		<result column="PROFIT_LOSS_RADIO" property="profitAndLossRadio" typeHandler="com.zeekie.stock.handler.TwoDecimalFloatTypeHander"/>
		<result column="LOAN_RULE" property="loanRule" jdbcType="VARCHAR"/>
		<result column="startDate" property="startDate" jdbcType="VARCHAR"/>
		<result column="endDate" property="endDate" jdbcType="VARCHAR"/>
		<result column="MANAGEMENT_FEE" property="managementFee" typeHandler="com.zeekie.stock.handler.TwoDecimalFloatTypeHander" />
		<result column="ASSET_ID" property="assetId" jdbcType="VARCHAR"/>
		<result column="ID" property="id" jdbcType="VARCHAR"/>
		<result column="GUARANTEE_CASH" property="guaranteeCash" typeHandler="com.zeekie.stock.handler.TwoDecimalFloatTypeHander"/>
	</resultMap>
	
	<resultMap type="com.zeekie.stock.entity.EveningEndDO" id="resultEveningResult">
		<result column="id" property="id" jdbcType="VARCHAR"/>
		<result column="CURRENT_CASH" property="capital" typeHandler="com.zeekie.stock.handler.TwoDecimalFloatTypeHander"/>
		<result column="ASSET_ID" property="assetId" jdbcType="VARCHAR"/>
		<result column="STOP_RADIO" property="stopPercent" jdbcType="VARCHAR"/>
	</resultMap>
	
	<resultMap type="com.zeekie.stock.entity.WarnLineDO" id="resultWarnLineUser">
		<result column="ID" property="operateId" jdbcType="VARCHAR"/>
		<result column="NICKNAME" property="nickname" jdbcType="VARCHAR"/>
		<result column="ACTUAL_CASH" property="actualAsset" typeHandler="com.zeekie.stock.handler.TwoDecimalFloatTypeHander"/>
		<result column="STOP_CASH" property="stopFund" typeHandler="com.zeekie.stock.handler.TwoDecimalFloatTypeHander"/>
		<result column="WARN_CASH" property="warnFund" typeHandler="com.zeekie.stock.handler.TwoDecimalFloatTypeHander"/>
		<result column="PHONE" property="phone" jdbcType="VARCHAR"/>
		<result column="TICKET" property="ticket" jdbcType="VARCHAR"/>
	</resultMap>
	
	<resultMap type="com.zeekie.stock.entity.StopDealStockDO" id="resultStopDealResult">
		<result column="NICKNAME" property="nickname" jdbcType="VARCHAR"/>
		<result column="ID" property="operateId" jdbcType="VARCHAR"/>
		<result column="ACTUAL_CASH" property="actualAsset" typeHandler="com.zeekie.stock.handler.TwoDecimalFloatTypeHander"/>
		<result column="WARN_CASH" property="warnFund" typeHandler="com.zeekie.stock.handler.TwoDecimalFloatTypeHander"/>
		<result column="STOP_BUY" property="stopBuy" jdbcType="VARCHAR"/>
		<result column="TRADE_ACOUNT" property="operateNO" jdbcType="VARCHAR"/>
	</resultMap>
	
	<resultMap type="com.zeekie.stock.entity.HasOpertAndDebtDO" id="resultHasSth">
		<result column="Debt" property="debt" jdbcType="VARCHAR"/>
		<result column="operation" property="operation" jdbcType="VARCHAR"/>
		<result column="balance" property="balance" typeHandler="com.zeekie.stock.handler.TwoDecimalFloatTypeHander"/>
	</resultMap>
	
<!-- 	<resultMap type="com.zeekie.stock.entity.WarnLineDO" id="resultSwingUser">
		<result column="ID" property="operateId" jdbcType="VARCHAR"/>
	</resultMap> -->
	
<!-- 	<resultMap type="com.zeekie.stock.entity.DayDO" id="resultInitFeeDays">
		<result column="Year_Month" property="yearMonth" jdbcType="VARCHAR"/>
		<result column="DAY" property="day" jdbcType="VARCHAR"/>
	</resultMap> -->
	

	<select id="getSeqId" parameterType="string" resultType="LONG" statementType="STATEMENT">
		select ${seq} from dual
	</select>
	
	<resultMap type="com.zeekie.stock.entity.StatisticsDO" id="resultStatistics">
		<result column="serviceCharge" property="serviceCharge" jdbcType="VARCHAR"/>
		<result column="commission" property="commission" jdbcType="VARCHAR"/>
		<result column="financialOptimization" property="financialOptimization" jdbcType="VARCHAR"/>
		<result column="bond" property="bond" jdbcType="VARCHAR"/>
		
		<result column="transaction_day" property="transactionDay" jdbcType="VARCHAR"/>
	</resultMap>
	
	
	<resultMap type="com.zeekie.stock.entity.DictionariesDO" id="resultDictionaries">
		<result column="ID" property="id" jdbcType="VARCHAR"/>
		<result column="DIC_TYPE" property="dicType" jdbcType="VARCHAR"/>
		<result column="dic_Word" property="dicWord" jdbcType="VARCHAR"/>
		<result column="dic_Value" property="dicValue" jdbcType="VARCHAR"/>
		<result column="dic_Name" property="dicName" jdbcType="VARCHAR"/>
		<result column="Order_No" property="orderNo" jdbcType="VARCHAR"/>
		<result column="DES" property="des" jdbcType="VARCHAR"/>
		<result column="IS_CACHE" property="isCache" jdbcType="VARCHAR"/>
		<result column="Status" property="status" jdbcType="VARCHAR"/>
	</resultMap>
	
 
	
	
	  
	  
	  
	  
	<insert id="storeOperatorAcountInfo" parameterType="com.zeekie.stock.entity.TradeDO">
		<!-- <selectKey order="BEFORE" resultType="LONG" keyProperty="id">
			select Seq_User_Operate_Acount_Id.Nextval from dual
		</selectKey> -->
		INSERT INTO STOCK_USER_OPERATE_ACOUNT
		  (ID,
		   NICKNAME,
		   TRADE_ACOUNT,
		   TRADE_PASSWORD,
		   ASSET_ID,
		   FUND_ACCOUNT,
		   COMBINE_NAME,
		   CLIENT_NAME,
		   ASSETUNIT_NAME,
		   COMBIE_ID)
		VALUES
		  (#{id},
		   #{nickname,jdbcType=VARCHAR},
		   #{operatorNo,jdbcType=VARCHAR},
		   #{operatorPwd,jdbcType=VARCHAR},
		   #{assetId,jdbcType=VARCHAR},
		   #{fundAccount,jdbcType=VARCHAR},
		   #{combineName,jdbcType=VARCHAR},
		   #{clientName,jdbcType=VARCHAR},
		   #{assetunitName,jdbcType=VARCHAR},
		   #{combineId,jdbcType=VARCHAR})
	</insert>
	
	<select id="getRule" resultMap="resultRule" >
		SELECT * FROM STOCK_RULE
	</select>
	
	
	<update id="deductGuaranteeCash" parameterType="string">
		UPDATE STOCK_USER_WALLET W
		   SET W.BALANCE = W.BALANCE - to_number(#{guaranteeCash}) 
		 WHERE W.NICKNAME = #{nickname}
	</update>
	
<!-- 	<update id="deductTradeFund" parameterType="Float">
		UPDATE STOCK_TOTAL_FUND
		   SET TOTAL_FUND = TOTAL_FUND - #{tradeFund},
		       MODIFY_CASH  = '-' || #{tradeFund},
		       HAPPEND_TIME = SYSDATE
		WHERE IS_CURRENT = 'Y'       
	</update> -->
	
	<insert id="recordFundflow" parameterType="string">
		<selectKey order="BEFORE" resultType="LONG" keyProperty="id">
			select SEQ_STOCK_FUND_FLOW_ID.Nextval from dual
		</selectKey>
		INSERT INTO STOCK_FUND_FLOW
		  (ID, NICKNAME,TRANSACTION_TYPE, FUND, TRANSACTION_TIME, DECRIPTION)
		VALUES
		  (#{id},#{nickname} ,#{transactionType}, #{fund}, SYSDATE, #{desc})
	</insert>
	
<!-- 	<select id="recordFundflowbatch" parameterType="long">
		<selectKey order="BEFORE" resultType="LONG" keyProperty="id">
			select SEQ_STOCK_FUND_FLOW_ID.Nextval from dual
		</selectKey>
	</select> -->
	
	<update id="updateManageFeeBatch" parameterType="string">
			UPDATE STOCK_USER_OPERATE_MAININFO W
			   SET W.MANAGEMENT_FEE     = W.MANAGEMENT_FEE +
			                              (SELECT R.FEE_RADIO * W.TRADE_FUND
			                                 FROM STOCK_FUND_ASSIGN_RADIO R
			                                WHERE R.NICKNAME = W.NICKNAME),
			       W.ADD_MANAGEMENT_FEE =
			       (SELECT R.FEE_RADIO * W.TRADE_FUND
			          FROM STOCK_FUND_ASSIGN_RADIO R
			         WHERE R.NICKNAME = W.NICKNAME),
			       W.DRAW_FEE        =
			       (SELECT R.FEE_RADIO * W.TRADE_FUND * R.UP_LINE_PERCENT
			          FROM STOCK_FUND_ASSIGN_RADIO R
			         WHERE R.NICKNAME = W.NICKNAME
			           AND EXISTS (SELECT 1
			                  FROM STOCK_USER U
			                 WHERE R.USER_ID = U.ID
			                   AND U.REFEREE_ID IS NOT NULL))
			 WHERE W.IS_CURRENT = '1'
			 <if test="chargeFeeDate!=null and chargeFeeDate!=''">
		 	   And To_Char(w.Start_Date, 'yyyy-mm-dd HH24:MI:ss') &lt;=
			       To_Char(Sysdate, 'yyyy-mm-dd ') || #{chargeFeeDate}
			   And To_Char(w.Start_Date, 'yyyy-mm-dd HH24:MI:ss') >
			       To_Char(Sysdate, 'yyyy-mm-dd') || ' 08:45:00'
			 </if>
	</update>
	
	<update id="updateManageFeeByUser" parameterType="string">
	        UPDATE STOCK_USER_OPERATE_MAININFO W
			   SET W.MANAGEMENT_FEE     = W.MANAGEMENT_FEE +
			                              (SELECT R.FEE_RADIO * W.TRADE_FUND
			                                 FROM STOCK_FUND_ASSIGN_RADIO R
			                                WHERE R.NICKNAME = W.NICKNAME),
			       W.ADD_MANAGEMENT_FEE =
			       (SELECT R.FEE_RADIO * W.TRADE_FUND
			          FROM STOCK_FUND_ASSIGN_RADIO R
			         WHERE R.NICKNAME = W.NICKNAME),
 					W.DRAW_FEE =
			       (SELECT R.FEE_RADIO * W.TRADE_FUND * R.UP_LINE_PERCENT
			          FROM STOCK_FUND_ASSIGN_RADIO R
			         WHERE R.NICKNAME = W.NICKNAME
			           AND EXISTS (SELECT 1
			                  FROM STOCK_USER U
			                 WHERE R.USER_ID = U.ID
			                   AND U.REFEREE_ID IS NOT NULL))
			 WHERE W.IS_CURRENT = '1'
			   And W.nickname = #{nickname}
	</update>
	
	<select id="queryCurrentStocker" resultMap="resultFee" parameterType="string">
		SELECT S.NICKNAME,S.ADD_MANAGEMENT_FEE,S.DRAW_FEE
		  FROM STOCK_USER_OPERATE_MAININFO S
		 WHERE S.IS_CURRENT = '1'
		 <if test="chargeFeeDate!=null and chargeFeeDate!=''">
	 	   And To_Char(s.Start_Date, 'yyyy-mm-dd HH24:MI:ss') &lt;=
		       To_Char(Sysdate, 'yyyy-mm-dd ') || #{chargeFeeDate}
		   And To_Char(s.Start_Date, 'yyyy-mm-dd HH24:MI:ss') >
		       To_Char(Sysdate, 'yyyy-mm-dd') || ' 08:45:00'
		 </if>
	</select>
	
	<select id="queryNewStocker" resultMap="resultFee">
		SELECT S.NICKNAME,S.ADD_MANAGEMENT_FEE,S.DRAW_FEE
		  FROM STOCK_USER_OPERATE_MAININFO S
		 WHERE S.IS_CURRENT = '1'
		 And s.nickname = #{nickname}
	</select>
	
	<!-- 扣去服务费 -->
	<update id="deductManageFeeBatch" parameterType="com.zeekie.stock.entity.DeductDO">
	        UPDATE STOCK_USER_WALLET W set
        		   W.BALANCE = (W.BALANCE - #{fee,jdbcType=FLOAT})
		 	WHERE  W.NICKNAME = #{nickname,jdbcType=VARCHAR}
	</update>
	
	<!-- 批量记录扣去服务费流水 -->
	<insert id="addFlowFundBatch" parameterType="com.zeekie.stock.entity.FundFlowDO">
		<selectKey order="BEFORE" resultType="LONG" keyProperty="id">
			select SEQ_STOCK_FUND_FLOW_ID.Nextval from dual
		</selectKey>
		INSERT INTO STOCK_FUND_FLOW
		  (ID, NICKNAME,TRANSACTION_TYPE, FUND, TRANSACTION_TIME, DECRIPTION)
		VALUES
		  (#{id},#{nickname} ,#{transactionType}, #{fund}, SYSDATE, #{desc})
	</insert>
	
	
	<!-- 批量给推广人加服务提成费用 -->
	<update id="addDrawFeeBatch" parameterType="com.zeekie.stock.entity.FundFlowDO">
         UPDATE STOCK_USER_WALLET W
         SET W.BALANCE =
             (W.BALANCE + #{fund,jdbcType=FLOAT})
       WHERE W.NICKNAME = #{nickname,jdbcType=VARCHAR}
	</update>
	
	<update id="deductManageFee" parameterType="com.zeekie.stock.entity.DeductDO">
	        UPDATE STOCK_USER_WALLET W set
        		   W.BALANCE = (W.BALANCE - #{fee,jdbcType=FLOAT})
		 	WHERE  W.NICKNAME = #{nickname,jdbcType=VARCHAR}
	</update>
	
	
	<select id="enterAddGuaranteePage" resultMap="enterAddGuaranteeResult">
		SELECT 
			(O.GUARANTEE_CASH + #{addGuranteeCash}) GUARANTEE_CASH,
	       (CASE
	         WHEN O.PROFIT_LOSS_CASH &lt; 0 AND (#{addGuranteeCash}+O.PROFIT_LOSS_CASH)>0 THEN
	          (O.GUARANTEE_CASH + #{addGuranteeCash}+O.PROFIT_LOSS_CASH)
	         WHEN O.PROFIT_LOSS_CASH &lt; 0 AND (#{addGuranteeCash}+O.PROFIT_LOSS_CASH) &lt;= 0 THEN
	           O.GUARANTEE_CASH <!-- + O.PROFIT_LOSS_CASH -->
	         WHEN O.PROFIT_LOSS_CASH >= 0 THEN O.GUARANTEE_CASH + #{addGuranteeCash}
	       END) CURRENT_GUARANTEE_CASH,
	       
	       (
	       	 (O.GUARANTEE_CASH + #{addGuranteeCash}) *(SELECT R.ASSIGN_RADIO FROM STOCK_FUND_ASSIGN_RADIO R WHERE O.NICKNAME = R.NICKNAME)
	       ) ORGIN_OPERATE_LIMIT,
	       
	       (CASE
	         WHEN O.PROFIT_LOSS_CASH &lt; 0 AND (#{addGuranteeCash}+O.PROFIT_LOSS_CASH)>0 THEN
	          (O.GUARANTEE_CASH + #{addGuranteeCash}+O.PROFIT_LOSS_CASH) *(SELECT R.ASSIGN_RADIO
	           FROM STOCK_FUND_ASSIGN_RADIO R
	          WHERE O.NICKNAME = R.NICKNAME)
	         WHEN O.PROFIT_LOSS_CASH &lt; 0 AND (#{addGuranteeCash}+O.PROFIT_LOSS_CASH) &lt;= 0 THEN
	           O.TRADE_FUND
	         WHEN O.PROFIT_LOSS_CASH >= 0 THEN (O.GUARANTEE_CASH + #{addGuranteeCash})*(SELECT R.ASSIGN_RADIO
	           FROM STOCK_FUND_ASSIGN_RADIO R
	          WHERE O.NICKNAME = R.NICKNAME)
	       END)  CURRENT_OPERATE_LIMIT ,
	       O.PROFIT_LOSS_CASH,
	       (select r.ASSIGN_RADIO from STOCK_FUND_ASSIGN_RADIO r where r.NICKNAME = O.NICKNAME)ASSIGN_RADIO,
	       O.STOP_CASH,
	       O.WARN_CASH,
	       (Select r.stop_radio From Stock_Fund_Assign_Radio r Where r.nickname = O.NICKNAME) Stop_Radio, 
		   (Select r.warn_radio From Stock_Fund_Assign_Radio r Where r.nickname = O.NICKNAME) Warn_Radio,
		   (Select r.assign_cash From Stock_Fund_Assign_Radio r Where r.nickname = O.NICKNAME) assign_cash,
		   (Select r.fee_radio From Stock_Fund_Assign_Radio r Where r.nickname = O.NICKNAME) fee_radio,
		   (SELECT A.FUND_ACCOUNT
			  FROM STOCK_USER_OPERATE_ACOUNT A
			 WHERE A.IS_CURRENT = '1'
			   AND A.ID = O.OPERATE_ACCOUNT_ID) FUND_ACCOUNT,
			(Select m.combine_id 
			  From Stock_Manager_Acount m
			 Where m.Fund_Account =
			       (Select a.Fund_Account
			           From Stock_User_Operate_Acount a
			          Where a.Is_Current = '1'
			            And a.Id = O.OPERATE_ACCOUNT_ID)) MANAGER_COMBINE_ID 
	  FROM STOCK_USER_OPERATE_MAININFO O
	 WHERE O.NICKNAME = #{nickname} and o.IS_CURRENT = '1'
	</select>
	
	
	<update id="modifyFund" parameterType="com.zeekie.stock.entity.form.AddCuaranteeForm">
		UPDATE STOCK_USER_OPERATE_MAININFO M
		   SET TRADE_FUND       = to_number(#{currentOperateLimit}),
		       GUARANTEE_CASH   = to_number(#{currentGuaranteeCash}),
		       PROFIT_LOSS_CASH = to_number(#{profitAndLossCash}),
		       STOP_CASH = to_number(#{currentOperateLimit})*(select radio.STOP_RADIO from STOCK_FUND_ASSIGN_RADIO radio where radio.nickname = m.nickname),
		       WARN_CASH = to_number(#{currentOperateLimit})*(select radio.WARN_RADIO from STOCK_FUND_ASSIGN_RADIO radio where radio.nickname = m.nickname),
		       PROFIT_LOSS_RADIO = to_number(#{profitAndLossCash})/to_number(#{currentGuaranteeCash}),
		       CURRENT_ASSET = to_number(#{currentGuaranteeCash})+to_number(#{profitAndLossCash}),
		       ACTUAL_CASH = ACTUAL_CASH + to_number(#{addedAssginCapital})
		 WHERE NICKNAME = #{nickname} and IS_CURRENT = '1'
	</update>
	
	<select id="getNeedAutoAddGuaranteeCashClient" resultMap="resultAutoWantCash">
			SELECT (M.TRADE_FUND - M.ACTUAL_CASH) NEEDWANTCASH, NICKNAME
			  FROM STOCK_USER_OPERATE_MAININFO M
			 WHERE M.ACTUAL_CASH = M.WARN_CASH
			   AND M.IS_CURRENT = '1'
			   AND M.AUTO_ADD_GUARANTEE_CASH = 'Y'
	</select>
	
	<select id="queryOrginTradeFund" resultType="string">
		SELECT TRADE_FUND
		  FROM STOCK_USER_OPERATE_MAININFO
		 WHERE NICKNAME = #{nickname} and IS_CURRENT = '1'
	</select>
	
	<update id="setAutoAddCuaranteeCash"  >
		update STOCK_USER_OPERATE_MAININFO set AUTO_ADD_GUARANTEE_CASH ='Y'  WHERE NICKNAME = #{nickname} and IS_CURRENT = '1'
	</update>
	
	<select id="isEnoughCashForClient" resultType="string">
		select 1 from STOCK_USER_WALLET w where w.nickname = #{nickname} and w.BALANCE > to_number(#{addGuaranteeCash})
	</select>
	
	<update id="currentOperationOver" parameterType="string">
		update STOCK_USER_OPERATE_MAININFO set IS_CURRENT = '0',END_DATE = sysdate ,STOP_BUY='0'
		where nickname = #{nickname} and IS_CURRENT = '1' 
	</update>
	
	<update id="updateCurrentAccountMayUse" parameterType="string">
	    Update Stock_User_Acount_Assigned a
		   Set a.Flag = '0' , a.LAST_USE_DATE = sysdate
		 Where Exists (Select 1
		          From Stock_User_Operate_Acount o
		         Where o.Trade_Acount = a.Operator_Acount
		           And o.Nickname = #{nickname}
		           And o.Is_Current = '1')
		   And a.Flag = '1'
    </update>
	
	<update id="setCurrentOpertionAccountIsHistory" parameterType="string">
		update stock_user_operate_acount set IS_CURRENT = '0' 
		where nickname = #{nickname} and IS_CURRENT = '1' 
	</update>
	
	<update id="recharge" parameterType="string">
		Update Stock_User_Wallet w
		   Set w.Balance = w.Balance + to_number(#{fund})
		 Where w.Nickname = #{nickname}
	</update>
	
	<update id="caculateRefereeIncome" parameterType="string">
		Update Stock_User_Operate_Maininfo o
		   Set o.Assign_Referee_Cash =
		       (Select (nvl(Trunc(To_Date(To_Char(m.End_Date, 'YYYY-MM-DD'),
		                               'YYYY-MM-DD') -
		                       To_Date(To_Char(m.Start_Date, 'YYYY-MM-DD'),
		                               'YYYY-MM-DD')),0) *
		               (Select p.Assign_Referee_Draw_Percent
		                   From Stock_Fund_Assign_Radio p
		                  Where p.Nickname = m.Nickname)) Income
		          From Stock_User_Operate_Maininfo m
		         Where m.Is_Current = '1'
		           And Exists (Select 1
		                  From Stock_User u
		                 Where u.Nickname = m.Nickname
		                   And u.Referee_Id Is Not Null)
		           And m.Nickname = o.Nickname)
		   where o.nickname = #{nickname}
	</update>
	
	<select id="getHistoryOperation" resultMap="resultHistoryOperation" parameterType="string">
			SELECT S.ID,
			       S.CURRENT_ASSET,
			       S.ACTUAL_CASH,
			       S.PROFIT_LOSS_CASH,
			       S.PROFIT_LOSS_RADIO * 100 PROFIT_LOSS_RADIO,
			       S.MANAGEMENT_FEE,
			       S.GUARANTEE_CASH,
			       S.TICKET ASSET_ID,
			       TO_CHAR(START_DATE, 'yyyy-mm-dd') STARTDATE,
			       TO_CHAR(END_DATE, 'yyyy-mm-dd') ENDDATE,
			       (SELECT R.LOAN_RULE FROM STOCK_RULE R) LOAN_RULE
			  FROM (SELECT ROW_NUMBER() OVER(ORDER BY T.END_DATE desc) AS NUM, T.*
			          FROM STOCK_USER_OPERATE_MAININFO T
			         WHERE T.NICKNAME = #{nickname}
			           AND T.IS_CURRENT = '0') S
			 WHERE NUM &gt; = #{offset} + 1
			   AND NUM &lt;= #{offset} + 20
 		<!-- SELECT S.*,to_char(START_DATE,'yyyy-mm-dd') startDate,to_char(END_DATE,'yyyy-mm-dd') endDate,
             (SELECT A.ASSET_ID
                FROM STOCK_USER_OPERATE_ACOUNT A
               WHERE A.NICKNAME = S.NICKNAME
                 AND A.IS_CURRENT = '0') ASSET_ID,
             (SELECT R.LOAN_RULE FROM STOCK_RULE R) LOAN_RULE
        FROM (SELECT ROWNUM RN, T.*
                FROM STOCK_USER_OPERATE_MAININFO T
               WHERE T.NICKNAME = #{nickname} And t.Is_Current = '0'
                 AND ROWNUM &lt;= #{offset} + 20) S
       WHERE RN &gt;= #{offset} + 1
       ORDER BY END_DATE DESC -->
    </select>
    
    <insert id="insertRecord" parameterType="string">
    	<selectKey order="BEFORE" resultType="LONG" keyProperty="id">
			select SEQ_DEPOSIT_RECORD_ID.Nextval from dual
		</selectKey>
		INSERT INTO DEPOSIT_RECORD
		  (ID, NICKNAME,PAY_ACCOUNT, FUND, PAY_DATE)
		VALUES
		  (#{id},#{nickname} ,#{payAccount}, #{fund}, SYSDATE)
    </insert>
    
    <select id="getEveningFlag" parameterType="string" resultMap="resultEveningResult">
    	SELECT M.ID,
		       M.CURRENT_CASH,
		       M.TICKET ASSET_ID,
		       (SELECT R.STOP_RADIO * 100 || '%'
		          FROM STOCK_FUND_ASSIGN_RADIO R
		         WHERE R.NICKNAME = M.NICKNAME) STOP_RADIO
		  FROM STOCK_USER_OPERATE_MAININFO M
		 WHERE M.NICKNAME = #{nickname}
		   AND M.UNACTIVE_END = '1'
		   AND M.IS_CURRENT = '1'
		   AND ROWNUM = 1
		 ORDER BY M.END_DATE DESC
    </select>
    
    
    <update id="setFeeCalendarBatch"  parameterType="com.zeekie.stock.entity.DayDO">
		MERGE INTO STOCK_FEE_CALENDAR P
		USING (SELECT #{feeDate} FEE_DATE,
		              #{yearMonth} YEAR_MONTH,
		              #{day} DAY
		         FROM DUAL) T
		ON (trim(P.FEE_DATE) = trim(T.FEE_DATE))
		WHEN MATCHED THEN
		  UPDATE SET P.FLAG = '1'
		WHEN NOT MATCHED THEN
		  INSERT
		    (P.FEE_DATE, P.YEAR_MONTH, P.DAY)
		  VALUES
		    (T.FEE_DATE, T.YEAR_MONTH, T.DAY)
	</update>

	<update id="setFeeCalendarFreeBatch"  parameterType="com.zeekie.stock.entity.DayDO">
		update STOCK_FEE_CALENDAR set flag='0' where FEE_DATE = #{feeDate} and YEAR_MONTH=#{yearMonth} and DAY = #{day}
	</update>

    <select id="initFeeDays" parameterType="string" resultType="String">
    	Select trim(m.Day)
		  From Stock_Fee_Calendar m
		 Where M.Year_Month = #{month} AND m.Flag = '1'
		 Order By m.Fee_Date
    </select>
    
     <select id="selectFeeDay" parameterType="string" resultType="String" >
    	Select 1
		  From Stock_Fee_Calendar m
		 Where trim(M.Fee_Date) = #{feeDate} and m.FLAG='1'
    </select>
    
    <select id="queryNeedNoticeUser" resultMap="resultWarnLineUser">
    	SELECT M.ID,
		       M.NICKNAME,
		       M.ACTUAL_CASH,
		       M.WARN_CASH,
		       M.TICKET,
		       M.STOP_CASH,
		       (SELECT U.TELEPHONE FROM STOCK_USER U WHERE U.NICKNAME = M.NICKNAME) PHONE
		  FROM STOCK_USER_OPERATE_MAININFO M
		 WHERE M.IS_CURRENT = '1'
		   AND M.ACTUAL_CASH &lt;= M.WARN_CASH
		   AND M.WARN_FLAG = '0'
    </select>
    
    <select id="queryStopDealResult" resultMap="resultStopDealResult">
		SELECT M.NICKNAME,M.ID,
		       M.ACTUAL_CASH,
		       M.WARN_CASH,
		       (SELECT TRADE_ACOUNT
		          FROM STOCK_USER_OPERATE_ACOUNT A
		         WHERE A.ID = M.OPERATE_ACCOUNT_ID
		           AND A.IS_CURRENT = '1') TRADE_ACOUNT,
		       M.STOP_BUY
		  FROM STOCK_USER_OPERATE_MAININFO M
		 WHERE M.IS_CURRENT = '1' 
    </select>
    
    <update id="updateStopBuyFlag" parameterType="string">
    	update STOCK_USER_OPERATE_MAININFO set STOP_BUY = #{flag} where id = #{operateId}
    </update>
    
    <update id="updateWarnFlagToOne" parameterType="com.zeekie.stock.entity.WarnLineDO">
    	update STOCK_USER_OPERATE_MAININFO set WARN_FLAG = '1' where id = #{operateId,jdbcType=VARCHAR}
    </update>
    
<!--     <select id="querySwingUser" parameterType="string" resultMap="resultSwingUser">
	    SELECT M.ID
		  FROM STOCK_USER_OPERATE_MAININFO M
		 WHERE M.IS_CURRENT = '1'
		   AND (SELECT (1 - R.WARN_RADIO) * #{swingPercent} + M.WARN_CASH
		          FROM STOCK_FUND_ASSIGN_RADIO R
		         WHERE R.NICKNAME = M.NICKNAME) &lt; M.ACTUAL_CASH
		   AND M.WARN_FLAG = '1'
    </select> -->
    
    <update id="updateWarnFlagToZero" parameterType="com.zeekie.stock.entity.WarnLineDO">
    	UPDATE STOCK_USER_OPERATE_MAININFO M
		   SET M.WARN_FLAG = '0'
		 WHERE M.ID IN
		       (SELECT M.ID
		          FROM STOCK_USER_OPERATE_MAININFO M
		         WHERE M.IS_CURRENT = '1'
		           AND (SELECT ((1 - R.WARN_RADIO) * #{swingPercent} + R.WARN_RADIO) * M.TRADE_FUND
		                  FROM STOCK_FUND_ASSIGN_RADIO R
		                 WHERE R.NICKNAME = M.NICKNAME) &lt; M.ACTUAL_CASH
		           AND M.WARN_FLAG = '1') 
    </update>
    
	<select id="queryHasOperation" parameterType="string" resultMap="resultHasSth">
		Select (Case
		         When w.Debt = 0 Then
		          ''
		         Else
		          w.Debt||''
		       End) Debt,
		       (Select 1
		          From Stock_User_Operate_Maininfo m
		         Where m.Is_Current = '1'
		           And m.Nickname = w.Nickname) operation,
		       w.balance
		  From Stock_User_Wallet w
		 Where w.Nickname = #{nickname}
	</select>
	
	<insert id="setPayInfo" parameterType="string">
		<selectKey order="BEFORE" resultType="LONG" keyProperty="id">
			select SEQ_TRANSACTION_INFO_ID.Nextval from dual
		</selectKey>
		MERGE INTO STOCK_TRANSACTION_INFO P
		USING (SELECT #{id}         ID,
		              #{userId}     USER_ID,
		              #{nickname}   NICKNAME,
		              #{merchantId} MERCHANT_ID,
		              #{cash}       CASH,
		              #{status}     STATUS_APP_TRANSACTION,
		              #{respMsg}    DESCRIPTION,
		              #{merchantDate}  TRANSACTION_TIME,
		              #{refNo} REF_NO
		         FROM DUAL) T
		ON (TRIM(P.MERCHANT_ID) = TRIM(T.MERCHANT_ID) and p.USER_ID = t.USER_ID)
		WHEN MATCHED THEN
		  UPDATE SET P.TRANSACTION_TIME = T.TRANSACTION_TIME,P.STATUS_APP_TRANSACTION = T.STATUS_APP_TRANSACTION
		WHEN NOT MATCHED THEN
		  INSERT
		    (P.ID,
		     P.MERCHANT_ID,
		     P.USER_ID,
		     P.NICKNAME,P.CASH,
		     P.STATUS_APP_TRANSACTION,
		     P.TRANSACTION_TIME,
		     P.DESCRIPTION,
		     P.REF_NO)
		  VALUES
		    (T.ID,
		     T.MERCHANT_ID,
		     T.USER_ID,
		     T.NICKNAME,T.CASH,
		     T.STATUS_APP_TRANSACTION,
		     T.TRANSACTION_TIME,
		     T.DESCRIPTION,
		     T.REF_NO)
	</insert>
	
	<insert id="setPayInfoByJob" parameterType="string">
		<selectKey order="BEFORE" resultType="LONG" keyProperty="id">
			select SEQ_TRANSACTION_INFO_ID.Nextval from dual
		</selectKey>
		MERGE INTO STOCK_TRANSACTION_INFO P
		USING (SELECT #{id}         ID,
		              #{userId}     USER_ID,
		              #{nickname}   NICKNAME,
		              #{merchantId} MERCHANT_ID,
		              #{cash}       CASH,
		              #{respMsg}    DESCRIPTION,
		              sysdate       ACCEPT_TIME,
		              #{acceptStatus} STATUS_ACCEPT,
		              #{bankName} bankName,
		              #{refNo} REF_NO
		         FROM DUAL) T
		ON (TRIM(P.MERCHANT_ID) = TRIM(T.MERCHANT_ID) and p.USER_ID = t.USER_ID)
		WHEN MATCHED THEN
		  UPDATE SET P.ACCEPT_TIME = T.ACCEPT_TIME,P.STATUS_ACCEPT = T.STATUS_ACCEPT,P.bankName = T.bankName,P.DESCRIPTION = T.DESCRIPTION
		WHEN NOT MATCHED THEN
		  INSERT
		    (P.ID,
		     P.MERCHANT_ID,
		     P.USER_ID,
		     P.NICKNAME,
		     P.STATUS_ACCEPT,
		     P.ACCEPT_TIME,
		     P.DESCRIPTION,P.bankName,P.REF_NO)
		  VALUES
		    (T.ID,
		     T.MERCHANT_ID,
		     T.USER_ID,
		     T.NICKNAME,
		     T.STATUS_ACCEPT,
		     T.ACCEPT_TIME,
		     T.DESCRIPTION,T.bankName,T.REF_NO)
	</insert>
	
	
 <insert id="updateReceiptStatus" parameterType="java.util.Map">
		<selectKey order="BEFORE" resultType="LONG" keyProperty="id">
			select SEQ_TRANSACTION_INFO_ID.Nextval from dual
		</selectKey>
		MERGE INTO STOCK_TRANSACTION_INFO P
		USING (SELECT #{id}         ID,
		              #{userId}     USER_ID,
		              #{nickname}   NICKNAME,
		              #{merchantId} MERCHANT_ID,
		              #{amount}       CASH,
		              #{rechargeResult}     STATUS_APP_TRANSACTION,
		              #{responseResult}    DESCRIPTION,
		              #{merchantDate}  TRANSACTION_TIME
		         FROM DUAL) T
		ON (TRIM(P.MERCHANT_ID) = TRIM(T.MERCHANT_ID) and p.USER_ID = t.USER_ID)
		WHEN MATCHED THEN
		  UPDATE SET P.TRANSACTION_TIME = T.TRANSACTION_TIME,P.STATUS_APP_TRANSACTION = T.STATUS_APP_TRANSACTION,
		  P.STATUS_ACCEPT = T.STATUS_APP_TRANSACTION,P.DESCRIPTION = T.DESCRIPTION
		WHEN NOT MATCHED THEN
		  INSERT
		    (P.ID,
		     P.MERCHANT_ID,
		     P.USER_ID,
		     P.NICKNAME,
		     P.STATUS_APP_TRANSACTION,
		     P.STATUS_ACCEPT,
		     P.TRANSACTION_TIME,
		     P.DESCRIPTION)
		  VALUES
		    (T.ID,
		     T.MERCHANT_ID,
		     T.USER_ID,
		     T.NICKNAME,
		     T.STATUS_APP_TRANSACTION,
		     T.STATUS_APP_TRANSACTION,
		     T.TRANSACTION_TIME,
		     T.DESCRIPTION)
	</insert>
	

    <select id="queryStatistics" resultMap="resultStatistics" parameterType="com.zeekie.stock.web.StatisticsPage">
		<include refid="com.zeekie.stock.service.PageMappper.PagePrefix" />
			 select (select -sum(t.Fund) From Stock_Fund_Flow t
		  Where To_Char(t.Transaction_Time, 'yyyy-mm-dd') =  a.transaction_day
		   And Trim(t.Transaction_Type) = '30') as serviceCharge , ( Select Sum(Fund)
		  From Stock_Fund_Flow t
		 Where To_Char(t.Transaction_Time, 'yyyy-mm-dd') = a.transaction_day
		   And Trim(t.Transaction_Type) = '120' ) as commission ,( Select Sum(Fund)
		  From Stock_Fund_Flow t
		 Where To_Char(t.Transaction_Time, 'yyyy-mm-dd') =  a.transaction_day
		   And Trim(t.Transaction_Type) = '130') as financialOptimization,(  Select -Sum(Fund)
		  From Stock_Fund_Flow t
		 Where To_Char(t.Transaction_Time, 'yyyy-mm-dd') = a.transaction_day
		   And Trim(t.Transaction_Type) = '10' ) as bond  , a.transaction_day  
		   from  ( select   To_Char(t.Transaction_Time, 'yyyy-mm-dd') as  transaction_day  from Stock_Fund_Flow t
		   <where>
			 <if test="day != null">
			      To_Char(t.Transaction_Time, 'yyyy-mm-dd') = #{day}
			 </if>
		  </where>
		   group by  To_Char(t.Transaction_Time, 'yyyy-mm-dd')  order by  To_Char(t.Transaction_Time, 'yyyy-mm-dd') desc )  a
          <include refid="com.zeekie.stock.service.PageMappper.PagePostfix" />
	</select> 
	<select id="queryStatisticsCount"  resultType="long" parameterType="com.zeekie.stock.web.StatisticsPage">
     	SELECT COUNT(1)  from  ( select   To_Char(t.Transaction_Time, 'yyyy-mm-dd') as  transaction_day  from Stock_Fund_Flow t  <where>
			 <if test="day != null">
			      To_Char(t.Transaction_Time, 'yyyy-mm-dd') = #{day}
			 </if>
		  </where>
      group by  To_Char(t.Transaction_Time, 'yyyy-mm-dd')    )  a
    </select>
	
	<insert id="insertDictionaries" parameterType="com.zeekie.stock.entity.DictionariesDO" >
		<selectKey order="BEFORE" resultType="Long" keyProperty="id">
			select SEQ_STOCK_DICTIONARIES_ID.Nextval from dual
		</selectKey>
	    	insert into stock_dictionaries(id,DIC_TYPE,dic_Word,dic_Value,dic_Name,Order_No,DES,IS_CACHE,Status)
            values(SEQ_STOCK_DICTIONARIES_ID.Nextval,#{dicType},#{dicWord},#{dicValue},#{dicName},#{orderNo},#{des},#{isCache},#{status})
    </insert>
   <select id="queryDictionaries"  resultMap="resultDictionaries"  parameterType="com.zeekie.stock.web.DictionariesPage">
		   select ID,DIC_TYPE,dic_Word,dic_Value,dic_Name,Order_No,DES,IS_CACHE,Status   from stock_dictionaries
		   <where>
			 <if test="dicName != null  and  dicName != ''">
			      dic_Name=#{dicName} and
			 </if>
			 <if test="dicWord != null and dicWord != ''">
			      dic_Word=#{dicWord} and
			 </if>
			 <if test="dicType != null  and  dicType != ''">
				      DIC_TYPE=#{dicType}  
			  </if>
		   </where>
	</select>
    <select id="queryDictionariesCount"  resultType="long" parameterType="com.zeekie.stock.web.DictionariesPage">
		   select count(id)   from stock_dictionaries
		   <where>
			 <if test="dicName != null  and  dicName != ''">
			      dic_Name=#{dicName} and
			 </if>
			 <if test="dicWord != null and dicWord != ''">
			      dic_Word=#{dicWord} and
			 </if>
			 <if test="dicType != null  and  dicType != ''">
				      DIC_TYPE=#{dicType}   
				 </if>
		   </where>
    </select>
    <delete id="deleteDictionaries" parameterType="String">
             delete from  stock_dictionaries where id =#{id}
    </delete>
    
    <update id="updateDictionaries"  parameterType="com.zeekie.stock.entity.DictionariesDO">
             update stock_dictionaries set dic_type= #{dicType} ,  dic_word= #{dicWord}  , dic_value =#{dicValue}  , dic_name =#{dicName} , order_no =#{orderNo} , des =#{des} ,  is_cache = #{isCache}   ,  status  =#{status}  where id=#{id}
    </update>
	<select id="getDictionaries"  resultMap="resultDictionaries"  parameterType="String">
		     select ID,DIC_TYPE,dic_Word,dic_Value,dic_Name,Order_No,DES,IS_CACHE,Status   from stock_dictionaries where id=#{id}
    </select>
    <select id="getDictionariesByDicWord"  resultMap="resultDictionaries"  parameterType="String">
		     select ID,DIC_TYPE,dic_Word,dic_Value,dic_Name,Order_No,DES,IS_CACHE,Status   from stock_dictionaries where status=1 and dic_Word=#{dicWord}  
    </select>
    <select id="queryDictionarieList"  resultMap="resultDictionaries"  parameterType="com.zeekie.stock.entity.DictionariesDO">
		     select ID,DIC_TYPE,dic_Word,dic_Value,dic_Name,Order_No,DES,IS_CACHE,Status   from stock_dictionaries 
             <where>
	             <if test="dicType != null  and  dicType != ''">
				      DIC_TYPE=#{dicType}  and
				 </if>
	             <if test="dicName != null  and  dicName != ''">
				      dic_Name=#{dicName} and
				 </if>
				 <if test="dicWord != null and dicWord != ''">
				      dic_Word=#{dicWord} and
				 </if>
				 <if test="status != null and status != ''">
				      status=#{status}
				 </if>
		    </where>
		    order by Order_No asc
   </select>
	
</mapper>
